{% extends "base.html" %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1> {{ title }} </h1>
    {% for item in queryset  %}
    <div class="row">
        <div class='col-sm-12'>
            <div class="thumbnail">
                {% if item.image %}
                    <img src='{{ item.image.url }}' class='img-responsive'>
                {% endif %}
                <div class="caption">
                        <h3><a href='{{ item.get_absolute_url }}'>{{item.title}}</a> <small>{{ item.created | timesince }} ago</small> </h3>
                        <p>{{ item.text | linebreaks | truncatechars:120 }}</p>
                        <p><a href="{{ item.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
            <span class="step-links">
                {% if queryset.has_previous %}
                    <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                </span>
        
                {% if queryset.has_next %}
                    <a href="?{{ page_request_var }}={{ queryset.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


</div>

{% endblock content %}